{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="col-md-4 mx-auto mt-5">
		<div class="card text-white bg-dark mb-3 mx-auto" style="width: 550px">
			<div class="card-header">
				<h4>Créer un compte</h4>
			</div>

			{{ form_start(registrationForm) }}

			<div class="card-body">
				<h5 class="card-title">
					{{ form_label(registrationForm.email, 'Email') }}
				</h5>
				<p class="card-text">{{ form_widget(registrationForm.email) }}</p>
				{{ form_errors(registrationForm.email) }}

				<h5 class="card-title">
					{{ form_label(registrationForm.plainPassword, 'Password') }}
				</h5>
				<p class="card-text">{{ form_widget(registrationForm.plainPassword) }}</p>
				{{ form_errors(registrationForm.plainPassword) }}
 
				<h5 class="card-title">
					{{ form_label(registrationForm.firstname, 'First Name') }}
				</h5>
				<p class="card-text">{{ form_widget(registrationForm.firstname) }}</p>

				<h5 class="card-title">
					{{ form_label(registrationForm.lastname, 'Last Name') }}
				</h5>
				<p class="card-text">{{ form_widget(registrationForm.lastname) }}</p>

				<h5 class="card-title">
					{{ form_label(registrationForm.username, 'Username') }}
				</h5>
				<p class="card-text">{{ form_widget(registrationForm.username) }}</p>
				
				{{ form_widget(registrationForm.register) }}
			</div>

			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
