{% extends 'base.html.twig' %}

{% block title article.title %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<div class="row ml-5">
		<a href="/">
			<buttontype="button" class="btn btn-success">Retour Page Accueil</button>
		</a>
	</div>

	<div class="col-md-4 mx-auto">
		<div class="container mt-4">
			<div class="card bg-dark">
				<img class="card-img-top" src="{{article.image}}" alt="Card image cap">
				<div class="card-header">
					{{article.author}}
					-
					{{article.createdAt |date("d/m/Y")}}
				</div>
				<div class="card-body">
					<div class="row mb-3">
						{{article.title}}
					</div>
					<div class="row">
						{{article.content}}
					</div>
				</div>
			</div>
			<div class="card bg-dark">
				<div class="card-body mx-auto">
					<div class="row">
						{{ form_start(form) }}
						<div class="row">{{ form_label(form.comment) }}</div>
						<div class="row">{{ form_widget(form.comment) }}</div>
						<div class="form-group mt-4 text-center">
							<button class="btn btn-success">Envoyer</button>
						</div>
						{{ form_end(form) }}
					</div>
					<div class="row">
						{% for comment in comment %}
							<div class="row">
								{{comment.comment}}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
