{% extends 'base.html.twig' %}

{% block title %}Mes Données Personnelles
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<div class="row mt-5">
		<div class="col-4">
			<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
				<div class="card-body">
					<div class="text-center mt-5">
						<a href="/user">
							<buttontype="button" class="btn btn-lg btn-success">Accueil</button>
						</a>
					</div>
					<div class="text-center mt-5">
						<a href="/user/information">
							<buttontype="button" class="btn btn-lg btn-success">Informations Personnelles</button>
						</a>
					</div>
					<div class="text-center mt-5 mb-5">
						<a href="/user/article/liked">
							<buttontype="button" class="btn btn-lg btn-success">Artciles Aimés</button>
						</a>
					</div>
					<div class="text-center mt-5 mb-5">
						<a href="/user/article/shared">
							<buttontype="button" class="btn btn-lg btn-success">Articles Partagés</button>
						</a>
					</div>
					<div class="text-center mt-5 mb-5">
						<a href="/user/article/commented">
							<buttontype="button" class="btn btn-lg btn-success">Articles Commentés</button>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="card text-white bg-dark mb-3" style="max-width: 50rem;">
				<div class="card-header">Vos Informations Personnelles</div>
				<div class="card-body">
					{{form_start(form)}}
					{{ form_row(form.last_name) }}
					{{ form_row(form.first_name) }}
					{{ form_row(form.email) }}
					{{ form_row(form.username) }}
					<div class="form-group mt-4 text-center">
						<button class="btn btn-success">Modifier</button>
					</div>
					{{form_end(form)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
